<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body>
	<header>{{ block "header" . }}{{ end }}</header>
	<main>{{ block "main" . }}{{ end }}</main>
	<footer>{{ block "footer" . }}{{ end }}</footer>
</body>
</html>

{{ define "header" }}
<div class="pure-g">
	<div class="pure-u-1">
		<div class="brand">
			<h1>{{ .Site.Title}}</h1>
			<h2>{{ .Site.Params.subtitle }}</h2>
			{{ partial "nav.html" . }}
		</div>
	</div>
</div>
{{ end }}
