{{ define "main" }}
<div id="layout" class="pure-g">
<article class="pure-u-1">
{{ range first 5 .Site.RegularPages }}
  {{ partial "content.header.html" . }}
  <p>{{ .Summary }}</p>
  {{ if .Truncated }}
  <p><a href="{{ .RelPermalink  }}">Read On &rarr;</a></p>
  {{ end  }}
  {{/* if subpage's summary contains math equations,
  "math" should be activated on home page as well */}}
  {{ if .Page.Store.Get "hasMath" }}
  {{- $.Page.Store.Set "hasMath" true }}
  {{ end }}
{{ end  }}
</article>
</div>
{{ end }}
